.product_Listing_Page {
  padding: 25px 0;
}
.product_Listing_Page .productListingView {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.product_Listing_Page .productListing .sidebar {
  flex: 0 0 25%;
  width: 25%;
}

.product_Listing_Page .productListing .sidebar .filterBox h6 {
  font-family: var(--font-secondary);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: 1.25rem;
}

.product_Listing_Page .productListing .sidebar .filterBox .scroll {
  padding-left: 10px;
  max-height: 268px;
  overflow-x: hidden;
  overflow-y: auto;
}

.product_Listing_Page .productListing .sidebar .scroll ul li {
  list-style: none;
  margin-bottom: 0px;
  width: 100%;
}

.product_Listing_Page .productListing .sidebar .scroll ::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

.css-19opgx6-MuiFormControlLabel-root .MuiFormControlLabel-label {
  color: rgba(113, 119, 142, 1);
  font-size: 12px;
}

.product_Listing_Page .productListing .content_right {
  flex: 0 0 75%;
  padding-left: 50px;
  width: 75%;
}
.product_Listing_Page .productListing .content_right img {
  margin-bottom: 20px;
}
.showBy {
  margin-bottom: 20px;
  width: 100%;
  min-height: 56px;
  background-color: #f7f8fd;
  padding: 0 30px;
  border-radius: 8px;
}
.btnWrapper {
  margin-right: auto;
}
.btnWrapper button {
  min-width: 20px !important;
  height: 20px !important;
  color: #202435 !important;
}

.btnWrapper button svg {
  font-size: 18px !important;
  opacity: 0.5 !important;
}
.btnWrapper button svg.act {
  opacity: 1 !important;
}
.showByFilterItem span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.showByFilterItem button {
  color: #202435;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  top: auto;
}

.showByFilterItem button svg {
  font-size: 12px;
  margin: 0 8px;
}
.showByFilterText {
  padding-left: 25px;
  font-size: 12px;
  color: #9b9bb4;
  border-left: 1px solid #edeef5;
}
.showByFilterMenu {
  top: 10px;
  width: 100% !important;
}
.product_Listing_Page .productListingView .productItem.one {
  width: 100%;
  display: flex;
  align-items: center;
}

.product_Listing_Page .productListingView .productItem.one .imgWrapper {
  width: 33.333333333%;
}

.product_Listing_Page .productListingView .productItem.two {
  width: 48%;
}

.product_Listing_Page .productListingView .productItem.three {
  width: 31.333333%;
}

.product_Listing_Page .productListingView .productItem.four {
  width: 23%;
}
