.productDetails .hd {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}
.description,
.productDetails .info,
.productDetails .badge,
.productDetails .quantityDrop {
  margin-left: 16px;
}
.productDetails .text-light {
  margin-left: 8px;
  color: #9b9bb4 !important;
  border: none;
  padding: 0;
  font-size: 0.75rem;
  font-weight: 400;
}

.productDetails .info .oldPrice {
  margin-right: 12px;
  font-size: 18px;
  font-weight: 600;
  color: #c2c2d3;
  text-decoration: line-through;
}

.productDetails .info .netPrice {
  font-size: 18px;
  font-weight: 600;
}

.productDetails .badge {
  border-radius: 20px;
  display: inline-block;
  padding: 7px 10px !important;
}
.productDetails .badge.badge-success {
  background: #e5f8ed !important;
  color: #16b858 !important;
}

.productDetails .productSize {
  width: 100%;
  height: auto;
  padding: 25px 0;
}

.productDetails .productSize ul li {
  margin-right: 10px !important;
}
.productDetails .productSize ul li button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px !important;
  cursor: pointer;
  color: #000;
  font-size: 16px !important;
  transition: all 0.1s ease-in-out;
}
.productDetails .productSize ul li button.active {
  background: #3bb77e !important;
  color: #fff !important;
}

.productDetails .btn-circle {
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background: #edeef5 !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: #000;
  padding: 5px !important;
}
.productDetails .btn-circle svg {
  color: #000 !important;
  opacity: 0.8;
}

.detailsPageTabs .tabContent h3 {
  font-size: 20px;
  font-weight: 700;
}

.detailsPageTabs {
  border-radius: 25px !important;
}
.customTabs ul li {
  margin-right: 30px !important;
}
.customTabs ul li button {
  border-radius: 30px !important;
  padding: 10px 20px !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000 !important;
}
.customTabs ul li button.active {
  color: #3bb77e !important;
  
}
.detailsPageTabs .table th,
.detailsPageTabs .table td {
  vertical-align: middle;
  font-size: 16px;
}
.detailsPageTabs .table td p {
  margin-bottom: 0 !important;
}
.reviewsCard {
  margin-bottom: 25px !important;
}
.reviewsCard .image {
  width: 100px;
}
.reviewsCard .rounded-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
.reviewsCard .rounded-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reviewsCard .info {
  width: 85%;
}
.reviewForm .form-group {
  margin-bottom: 25px !important;
}
.reviewForm .form-group .form-control {
  height: 80px;
  font-size: 20px;
  border-radius: 8px !important;
  padding-left: 20px;
}
.reviewForm .form-group textarea {
  height: 200px !important;
  padding-top: 25px !important;
}

.reviewsCard .info p {
  font-size: 14px;
  line-height: 25 px;
}