.bg-purple {
  background: #233a95;
}
.headerWrapper .top-strip {
  padding: 9px 0;
}
.headerWrapper .top-strip p {
  font-size: 12px;
  color: #fff;
}
.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 30px 0;
}
.logoWrapper img {
  width: 164px;
  height: auto;
}

header .part3 {
  margin-left: 30px;
}
.header .part3 .circleBtn {
  align-items: center;
  justify-content: center;
  min-width: 42px !important;
  height: 42px !important;
  border: 1px solid #e2e4ec;
  border-radius: 50% !important;
  font-size: 18px;
  color: #3e445a;
}
.header .part3,
.header .part3 .cartTab {
  margin-left: 15px;
}
.header .part3 .price {
  font-weight: 600;
  font-family: "Dosis", sans-serif;
  margin-right: 15px;
}
.header .part3 .btnCartItem {
  position: relative;
  background-color: #fff1ee !important;
  border-color: #fff1ee;
}
.header .part3 .btnCartItem svg {
  color: #ea2b0f;
  line-height: 1;
}
.header .part3 .btnCartItem .count {
  position: absolute;
  background-color: #ea2b0f;
  color: #ffffff;
  min-width: 17px !important;
  height: 17px !important;
  font-size: 10px;
  top: -2px;
  right: -4px;
  border-radius: 50%;
}
