.quantityDrop {
    gap: 10px;
    width: 150px;
  }
  
  .quantityDrop button {
    background: #edeef5 !important;
    border: 1px solid #0000001a !important;
    border-radius: 50% !important;
    color: #000;
    height: 40px !important;
    min-width: 40px !important;
    width: 40px !important;
  }
  
  .quantityDrop button svg {
    color: #000 !important;
  }
  
  .quantityDrop input {
    background: #0000;
    border: 0;
    outline: none !important;
    text-align: center;
    width: 30px;
  }