* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap');

@media (min-width: 1300px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}
button {
  outline: none !important;
  background: none !important;
}
a {
  text-decoration: none;
}
ul,li{
  list-style: none;
}