* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@media (min-width: 1300px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1280px !important;
  }
}
ul,
li {
  list-style: none;
}
.text-red {
  color: red !important;
}
button {
  outline: none !important;
  background: none !important;
  text-transform: capitalize !important;
}
a {
  text-decoration: none !important;
}

.btn-blue {
  background-color: #233a95 !important;
  color: #fff !important;
}

.btn-big {
  font-size: 13px !important;
  padding: 7px 30px !important;
  min-width: auto !important;
  font-weight: bold !important;
}
.btn-big:hover {
  opacity: 0.8;
}
.btn-round {
  border-radius: 30px !important;
}
.cartPage .table thead {
  background: #ececec !important;
}

.section {
  padding: 45px 0;
}
