* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@media (min-width: 1300px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}
.pl-2 {
  padding-left: 8px !important;
}
.pl-5 {
  padding-left: 48px !important;
}
.ml-2 {
  margin-left: 8px !important;
}
.ml-3 {
  margin-left: 16px;
}
.mr-3 {
  margin-right: 16px;
}
.ml-auto {
  margin-left: auto !important;
}
button {
  outline: none !important;
  background: none !important;
  text-transform: capitalize !important;
}
a {
  text-decoration: none !important;
}
ul,
li {
  padding-left: 4px !important;
  list-style: none;
}
.btn-blue {
  background-color: #233a95 !important;
  color: #fff !important;
}

.btn-big {
  font-size: 13px !important;
  padding: 7px 30px !important;
  min-width: auto !important;
}
.btn-big:hover {
  opacity: 0.8;
}
.btn-round {
  border-radius: 30px !important;
}
